<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>405 - MovieWeb App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">Home Page</a>
    </div>
    <h1>Sorry, this page isn't available!</h1>
    <img src="{{ url_for('static', filename='figures/error_picture.png') }}"
         alt="405 Error"
         id="error_picture"
         width="400">
</body>
</html>