<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User Movie - MovieWeb App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">Home Page</a>
        <a href="/users">Brows Users</a>
        <a href="/add_user">Add User</a>
        <a href="/users/{{ user_id }}/add_movie">Add Movie</a>
    </div>

    <h1>Hello {{ user_name }} - Adding Movie</h1>
    <form action="{{ url_for('add_movie', user_id=user_id) }}" method="POST">
        <label for="movie_name">Movie Name:</label>
        <input type="text" id="movie_name" name="movie_name" required>
        <label for="movie_director">Director:</label>
        <input type="text" id="movie_director" name="movie_director">
        <label for="movie_year">Year:</label>
        <input type="text" id="movie_year" name="movie_year">
        <label for="movie_rating">Rating:</label>
        <input type="text" id="movie_rating" name="movie_rating">
        <input type="submit" value="Submit">
    </form>
</body>
</html>