<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Movies - MovieWeb App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap"
          rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a href="/">Home Page</a>
        <a href="/users">Brows Users</a>
        <a href="/add_user">Add User</a>
        <a href="/users/{{ user_id }}/add_movie">Add Movie</a>
    </div>

    <h1>Hello, Movie Islander &nbsp;|&nbsp; {{ user_name }} &nbsp;|&nbsp;!</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li><h3><em>{{ message }}</em></h3></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% for movie in movies %}
    <ul class="movies">
        <li>
        <h2>{{ movie.name }}</h2>
        <h3><em>Directed by {{ movie.director }}</em></h3>
        <p>Year: {{ movie.year }} &nbsp;|&nbsp; Rating: {{ movie.rating }}</p>
        <a href="/users/{{ user_id }}/update_movie/{{ movie.id }}"><button><em>Update</em></button></a>
        <form action="/users/{{ user_id }}/delete_movie/{{ movie.id }}" method="POST" class="delete">
            <button type="submit"><em>Delete</em></button>
        </form>
        </li>
    </ul>
    {% endfor %}

</body>
</html>